body {
    font-family: 'Roboto', sans-serif;
}
.img-fluid {
    padding: 16px;
}
.btn {
    background-color: green;
    color: white;
}
.bg-primary {
    background-color: #72c172!important;
}
#mainNav.navbar-shrink .navbar-brand {
    color: #72c172;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: #72c172!important;
    background-color: transparent;
}
hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #72c172;
}
a {
    color: #72c172;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(113, 190, 114, 1);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}